* {
    font-size: 15px
}

.done {
    color: rgb(60, 221, 60);
}

.pending {
    color: rgb(236, 50, 50)
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.container > * {
    margin: 5px
}

.containerTask {
    display: flex;
    justify-content: center;
}

.taskActions {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.taskActions > * {
    margin: 0px 10px
}

.checkbox {
    width: 20px;
    height: 20px;
}

.taskName > p {
    font-size: 30px;
    margin: 0px, 3px;
}

.taskName > input {
    font-size: 20px;
    text-align: center;
    margin: 0px, 3px;
}